.Num {color: #444444;font-weight: bold;font-size: 50px;}

.NumLabel {color: #444444; font-weight: 300;font-size: 16px; padding-top: 0px; margin-top: 0px;}

.NumIcon {font-size: 50px; color:#2991D6}

.NumCol {background-color: #f0f0f0; border-radius: 5px; padding-bottom: 5px;}